@font-face {
  font-family: 'UkraineHead';
  src: url('/fonts/e-Ukraine-head/e-UkraineHead-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  

  
}